apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: microservices
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'user-service'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['user-service:8000']

      - job_name: 'notification-service'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['notification-service:8001']
